---
layout: layout.njk
activeTab: travelers
pageTitle: Travelers
permalink: /travelers/index.html
---

<div class="page-scroll">
  <div class="board-search">
    <label for="address-search" class="sr-only">Search address or ENS</label>
    <input type="text" id="address-search" placeholder="Search address or ENS..." autocomplete="off">
    <button id="clear-search" class="board-search-clear" style="display: none;" aria-label="Clear search">&times;</button>
  </div>
  <table class="board-table">
    <thead>
      <tr>
        <th class="col-rank" scope="col">#</th>
        <th scope="col">Address</th>
        <th class="col-num" scope="col">Airports</th>
      </tr>
    </thead>
    <tbody id="lb-travelers">
      {%- for a in leaderboards.addresses %}
      <tr data-ens="{{ a.ens | lower }}" data-address="{{ a.address | lower }}">
        <td><span class="board-rank">{{ loop.index }}</span></td>
        <td>
          <a href="/travelers/{{ a.address }}/">
            {%- if a.avatar_url %}<img class="board-avatar" src="{{ a.avatar_url }}" alt="">{% endif -%}
            {%- if a.ens %}<span class="board-ens">{{ a.ens }}</span>
            {%- else %}<span class="board-address">{{ a.address | truncateAddress }}</span>{% endif -%}
          </a>
        </td>
        <td class="col-num"><span class="board-value board-value--highlight">{{ a.airport_count }}</span></td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
<script src="/js/search.js?v={{ meta.data_hash }}"></script>
